html {
    min-height: 100%;
}

body.day {
    background: url(../images/wall4.png);
}

body.night{
    background: url(../images/tweed.png);
}


.container {
    background: #fff;
}

header .container {
    background: inherit;
        
}

p{
    font-size: 18px;
}

.navbar-nav>li>a.logout{
    color: #fff;
    margin-right: 15px;

}


span.session {
    display: block;
    color: #ABA461;
    padding: 0px 13px;
}