html {
    min-height: 100%;
}

body.day {
    background: url(../images/wall4.png);
}

body.night{
    background: url(../images/tweed.png);
}


.container {
    background: #fff;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

header .container {
    background: inherit;
        
}

p{
    font-size: 18px;
}

.navbar-nav>li>a.logout{
    color: #fff;
    margin-right: 15px;

}

span.session {
    display: block;
    color: #ABA461;
    padding: 0px 13px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}